.contact-ubication__title,
.contact-form__title {
    border-bottom: 1px solid black;
    padding-bottom: .1em;
    margin-bottom: 1em;
    font-weight: 300;
    text-transform: uppercase;
}

.direction,
.phone {
    color: $color-2;
    font-size: .875rem;
    line-height: 1.5em;
    letter-spacing: 1px;
}

.form-item {
    margin-bottom: 1.1em;
    label {
        line-height: 1.5em;
    }
    input {
        line-height: 1.5em
    }
}

.contact {
    margin-top: 2em;
}
.contact-form {
    padding-top: 3em;
    @media screen and (min-width: 1024px){
        width: calc(50% - 1em);
        padding-top: 0;
    }
}
.contact-ubication {
    @media screen and (min-width: 1024px){
        width: calc(50% - 1em);
    }
}

.contact .container {
        @extend %placeHolder-container;
        @media screen and (min-width: map-get($map-breakpoints,laptop)) {
            display: flex;
            justify-content: space-between;  
            align-items: center;    
        } 
}