-var nombres = ['laura','carmen','mario','sandra'];
-var menu = ['inicio','el staff','servicios','promociones','contacto'];
-var contenido = "Sitio web de un salon de belleza";

<!DOCTYPE html>
html(lang="es")
    
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description" content=contenido)
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://file.myfontastic.com/QmH5RdXDz9NnsaoL9djN3j/icons.css" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="css/styles.css")
        title Beauty Salon
    
    body
        header.main-header
            .container
                div(class="box-logo"): img(class="logo-img" src="img/logo.png" alt="logo del salon de belleza")
                div(class="icon-bar")
                nav(class="menu")
                    ul(class="menu-list")
                        each item in menu
                            li(class="menu-list__item"): a(class="menu-list__item__link")=item
        .banner
            img(class="banner__img" src="img/banner.jpg" alt="mujer maquillada")
            div(class="copy")
                h1(Class="copy__title") tu belleza y estilo en nuestras manos
                p(Class="copy__text")  Profesionales a tu servicio
                button(Class="copy__btn btn btn--1")  Conoce mas
        section.skills
            h2(class="skill") cabello
            h2(class="skill") manos y pies
            h2(class="skill") cuidado de la piel
        section.staff
            h2(class="staff-title") staff
            .container
                - for (var i=0; i<nombres.length; i++)
                    div( itemscope itemtype="http://schema.org/Person" class="member")
                        img(class="member__img" src="img/staff-1.jpg" alt="foto del trabajador" itemprop="image")
                        p(class="member__name" itemprop="name")=nombres[i]
                        button(class="member__btn btn btn--2") Pedir cita
        .contact
            .container
                section(itemscope itemtype="http://schema.org/Place" class="contact-ubication")
                    h2(class="contact-ubication__title") visitanos
                    div(class="box-map")
                        iframe(itemprop="hasMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124867.30609884876!2d-77.1147337411913!3d-12.03640785669054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c84215b82a0b%3A0x3ab3593848bdcf19!2sBosque+El+Olivar+de+San+Isidro!5e0!3m2!1ses-419!2spe!4v1525052902014" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
                    p(class="direction icon-map" itemprop="address") Av Peru 1234 - Lima Peru
                    p(class="phone icon-phone" itemprop="faxNumber") 123 456 789
                section(class="contact-form")
                    h2(class="contact-form__title") o escribenos
                    form(action="index.html" class="form")
                        - for (var i=0;i<5;i++)
                            div(class="form-item") 
                                case i
                                    when 0 
                                        label(for="nombre") Su Nombre
                                        input(id="nombre" type='text' pattern="[A-Za-z]{3,30}" required title="Solo se admiten letras minimo 3 caracteres y maximo 30") 
                                    when 1 
                                        label(for="telefono") Su Telefono
                                        input(id="telefono" type='tel' pattern="[0-9]{9}" required  title="solo se aceptan numero del 0 al 9 sin espacios en blanco") 
                                    when 2
                                        label(for="correo") Su Correo
                                        input(id="correo" type='email' required title="solo puede terminar en @hotmail.com o @gmail.com") 
                                    when 3
                                        label(for="mensaje") Su mensaje
                                        textarea(id="mensaje" name="mensaje" cols="3" rows="10" title="solo se apcetan letras y numero no caracteres especiales")
                                    when 4
                                        input(type="submit" class="btn btn--3" value="enviar")
        footer.main-footer
            a(class="icon-github" href="https://github.com/jordanpe1")
            a(class="icon-facebook" href="https://www.facebook.com/")
            a(class="icon-twitter" href="https://twitter.com/?lang=es")