:root {
    font-size: 16px;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

h1,
h2 {
    font-family: 'Oswald', sans-serif;
}

p,
a {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
p,
ul {
    margin-bottom: 0;
    margin-top: 0;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}