.btn {
    border: 0;
    padding: 0;
    cursor: pointer;
    &--1 {
        background-color: $color-1;
        color: #fff; 
        padding: .5em .5em;
        margin-top: .5em;
    }
    &--2{
        background-color: $color-3;
        color: $color-1;
        padding: .5em .75em;
    }
    &--3{
        font-size: .8rem;
        background-color: $color-2;
        color: #fff;
        padding: 1em;
        text-transform: uppercase;
    }
}